@import '../../../assets/styles/breakpoints';

.auth-card {
  min-width: 35rem;
  min-height: 20rem;
  border-radius: 1rem;
  padding: 0.25rem;
  background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
  display: flex;
  flex-direction: column;

  @include smaller-than(md) {
    min-width: 25rem;
  }

  @include smaller-than(sm) {
    min-width: 20rem;
  }

  &__inner {
    flex: 1;
    width: 100%;
    border-radius: 0.875rem;
    padding: 4rem;
    background-color: var(--surface-0);
  }

  &__heading {
    margin-bottom: 0.5rem;
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__input-group {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    &__link {
      text-align: right;
    }
  }

  &__button {
    margin-top: 1rem;
  }

  &__link {
    margin-top: 1rem;
  }
}
