<div class="card-selector">
  <p-dropdown
    #cardDropdown
    [options]="cards()"
    optionLabel="name"
    [filter]="true"
    filterBy="name"
    [placeholder]="'_CardSelector.Select card' | transloco"
    appendTo="body"
    styleClass="full-width"
    (onChange)="onCardSelection($event, cardDropdown)"
  >
    <ng-template let-card pTemplate="item">
      <div class="card-selector__dropdown-card">
        <div class="card-selector__dropdown-card__image">
          @if (card.front_image_path) {
            <img [src]="card.front_image_path" [alt]="card.name"/>
          } @else {
            <app-img-placeholder size="4rem"/>
          }
        </div>
        <div class="card-selector__dropdown-card__name" [pTooltip]="card.name"
             [tooltipDisabled]="card.name.length <= 25">
          {{ card.name | truncate : 25 }}
        </div>
      </div>
    </ng-template>
  </p-dropdown>
  @if (selectedCards()().length > 0) {
    <p-table [value]="selectedCards()()">
      <ng-template pTemplate="body" let-selectedCard>
        <tr>
          <td>
            @if (selectedCard.card!.front_image_path) {
              <img class="card-selector__card__image" [src]="selectedCard.card!.front_image_path"
                   [alt]="selectedCard.card!.name"/>
            } @else {
              <app-img-placeholder size="6rem"/>
            }
          </td>
          <td class="card-selector__card__name" [pTooltip]="selectedCard.card!.name"
              [tooltipDisabled]="selectedCard.card!.name <= 35">{{ selectedCard.card!.name | truncate : 35 }}
          </td>
          <td class="card-selector__card__quantity__wrapper">
            <div class="card-selector__card__quantity">
              <app-button-icon-only [pTooltip]="'_Actions.Decrease' | transloco" size="small" icon="tablerMinus"
                                    severity="danger"
                                    (onClick)="onCardQuantityChange(selectedCard, -1)"/>
              <span class="card-selector__card__quantity__value">{{ selectedCard.quantity }}</span>
              <app-button-icon-only [pTooltip]="'_Actions.Increase' | transloco" size="small" icon="tablerPlus"
                                    severity="success"
                                    (onClick)="onCardQuantityChange(selectedCard, 1)"/>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>
