@import '../../../assets/styles/breakpoints';

.card-selector {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__dropdown-card {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__image {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4rem;
      height: 4rem;

      img {
        max-width: 4rem;
        max-height: 4rem;
      }
    }

    &__name {
      font-size: 0.75rem;
      font-weight: 700;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 2rem;
  }

  &__card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__image {
      overflow: hidden;
      border-radius: var(--border-radius-md);
      margin: 0 auto;
      display: flex;
      justify-content: center;

      img {
        display: block;
        max-width: 8rem;
      }
    }

    &__name {
      flex: 1;
      width: 100%;
      display: grid;
      align-items: center;
      text-align: center;
    }

    &__quantity-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__quantity {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &__value {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }

  &__content {
    width: 100%;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
  }

  &__no-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &__icon {
      font-size: 5rem;
      width: 5rem;
      height: 5rem;
    }
  }
}
