<div class="card-selector">
  <p-dropdown
    #cardDropdown
    [options]="cards()"
    optionLabel="name"
    [filter]="true"
    filterBy="name"
    [placeholder]="'_CardSelector.Select card' | transloco"
    appendTo="body"
    styleClass="full-width"
    (onChange)="onCardSelection($event, cardDropdown)"
  >
    <ng-template let-card pTemplate="item">
      <div class="card-selector__dropdown-card">
        <div class="card-selector__dropdown-card__image">
          @if (card.front_image_path) {
            <img [src]="card.front_image_path" [alt]="card.name"/>
          } @else {
            <app-img-placeholder size="4rem"/>
          }
        </div>
        <div class="card-selector__dropdown-card__name" [pTooltip]="card.name"
             [tooltipDisabled]="card.name.length <= 25">
          {{ card.name | truncate : 25 }}
        </div>
      </div>
    </ng-template>
  </p-dropdown>
  <div class="card-selector__content">
    @if (selectedCards()().length > 0) {
      <div class="card-selector__cards">
        @for (selectedCard of selectedCards()(); track $index) {
          <ng-container [ngTemplateOutlet]="selectedCardTemplate" [ngTemplateOutletContext]="{selectedCard}"/>
        }
      </div>
    } @else {
      <div class="card-selector__no-content">
        <div class="card-selector__no-content__icon">
          <ng-icon name="tablerCards"/>
        </div>
        <div class="card-selector__no-content__label">
          {{ '_CardSelector.No card selected' | transloco }}
        </div>
      </div>
    }
  </div>
</div>

<p-dialog [header]="'_CardSelector.Card details' | transloco" [modal]="true"
          [visible]="isCardDetailsModalShown()"
          (visibleChange)="hideCardDetailsModal()" styleClass="p-dialog--card-details-modal">
  <div class="card-details-modal">
    @if (cardDetailsModalCard()) {
      <div class="card-details-modal__section">
        <div class="card-details-modal__section__header">
          <ng-icon name="tablerLibraryPhoto"/>
          <span>{{ '_CardSelector.Images' | transloco }}</span>
        </div>
        <div class="card-details-modal__section__content--images">
          <div class="card-details-modal__section__image card-details-modal__section__image--front">
            @if (cardDetailsModalCard()!.card?.front_image_path) {
              <img [src]="cardDetailsModalCard()!.card!.front_image_path" [alt]="cardDetailsModalCard()!.card!.name"/>
            } @else {
              <app-img-placeholder size="8rem" shape="square" aspectRatio="0.65"/>
            }
          </div>
          <div class="card-details-modal__section__image card-details-modal__section__image--back">
            @if (cardDetailsModalCard()!.card?.back_image_path) {
              <img [src]="cardDetailsModalCard()!.card!.back_image_path" [alt]="cardDetailsModalCard()!.card!.name"/>
            } @else {
              <app-img-placeholder size="8rem" shape="square" aspectRatio="0.65"/>
            }
          </div>
        </div>
      </div>
      <div class="card-details-modal__section">
        <div class="card-details-modal__section__header">
          <ng-icon name="tablerInfoCircle"/>
          <span>{{ '_CardSelector.Details' | transloco }}</span>
        </div>
        <div class="card-details-modal__section__content">
          <div class="card-details-modal__section__content__value">
            <span>{{ '_CardSelector.Name' | transloco }}</span>
            <span>{{ cardDetailsModalCard()!.card!.name }}</span>
          </div>
          <div class="card-details-modal__section__content__value">
            <span>{{ '_CardSelector.Type' | transloco }}</span>
            <span>{{ '_CardType.' + cardDetailsModalCard()!.card!.type | transloco }}</span>
          </div>
          @if (cardDetailsModalCard()!.card!.subtype) {
            <div class="card-details-modal__section__content__value">
              <span>{{ '_CardSelector.Subtype' | transloco }}</span>
              <span>{{ '_CardSubtype.' + cardDetailsModalCard()!.card!.subtype | transloco }}</span>
            </div>
          }
          @if (cardDetailsModalCard()!.card!.hand_usage) {
            <div class="card-details-modal__section__content__value">
              <span>{{ '_CardSelector.Hand usage' | transloco }}</span>
              <span>{{ cardDetailsModalCard()!.card!.hand_usage }}</span>
            </div>
          }
        </div>
      </div>
      <div class="card-details-modal__section">
        <div class="card-details-modal__section__header">
          <ng-icon name="tablerScript"/>
          <span>{{ '_CardSelector.Description' | transloco }}</span>
        </div>
        <div class="card-details-modal__section__content card-details-modal__section__content--description"
             [innerHTML]="cardDetailsModalCard()!.card!.description"></div>
      </div>
      @if (cardDetailsModalCard()!.card!.attribute_modifiers) {
        @if (cardDetailsModalCard()!.card!.attribute_modifiers!.length > 0) {
          <div class="card-details-modal__section">
            <div class="card-details-modal__section__header">
              <ng-icon name="tablerAdjustments"/>
              <span>{{ '_CardSelector.Attribute modifiers' | transloco }}</span>
            </div>
            <div class="card-details-modal__section__content">
              @for (attributeModifier of cardDetailsModalCard()!.card!.attribute_modifiers; track $index) {
                <div class="card-details-modal__section__content__value">
                  @if (isCardAttributeAbility(attributeModifier.modifier)) {
                    <span>{{ '_CardAttributeAbility.' + attributeModifier.modifier | transloco }}</span>
                  } @else if (isCardAttributeRestriction(attributeModifier.modifier)) {
                    <span>{{ '_CardAttributeRestriction.' + attributeModifier.modifier | transloco }}</span>
                  } @else {
                    <span>{{ '_CardAttributeModifier.' + attributeModifier.modifier | transloco }}</span>
                  }
                  <span>{{ attributeModifier.value }}</span>
                </div>
              }
            </div>
          </div>
        }
      }
    } @else {
      <app-no-content/>
    }
  </div>
</p-dialog>


<ng-template #selectedCardTemplate let-selectedCard="selectedCard">
  <p-card styleClass="p-card--card-selector">
    <div class="card-selector__card">
      <div class="card-selector__card__image" (click)="showCardDetailsModal(selectedCard)">
        @if (selectedCard.card?.front_image_path) {
          <img [src]="selectedCard.card!.front_image_path" [alt]="selectedCard.card!.name"/>
        } @else {
          <app-img-placeholder size="8rem" shape="square" aspectRatio="0.65"/>
        }
      </div>
      <div class="card-selector__card__name" [pTooltip]="selectedCard.card!.name"
           [tooltipDisabled]="selectedCard.card!.name.length <= 25">
        {{ selectedCard.card!.name | truncate : 25 }}
      </div>
      <div class="card-selector__card__quantity">
        <app-button-icon-only [pTooltip]="'_Actions.Decrease' | transloco" icon="tablerMinus"
                              severity="danger"
                              (onClick)="onCardQuantityChange(selectedCard, -1)"/>
        <span class="card-selector__card__quantity__value">{{ selectedCard.quantity }}</span>
        <app-button-icon-only [pTooltip]="'_Actions.Increase' | transloco" icon="tablerPlus"
                              severity="success"
                              (onClick)="onCardQuantityChange(selectedCard, 1)"/>
      </div>
    </div>
  </p-card>
</ng-template>
