<div class="reset-password">
  <app-auth-card [heading]="'_ResetPasswordPage.Password reset' | transloco"
                 [description]="'_ResetPasswordPage.Fill the form to reset your password' | transloco">
    <form class="auth-card__form" [formGroup]="form" (ngSubmit)="onSubmit()" ngProjectAs="[form]">
      <div class="auth-card__form__input-group">
        <input
          type="text"
          pInputText
          placeholder="{{ '_ResetPasswordPage.Email' | transloco }}"
          [formControlName]="ResetPasswordFormControls.EMAIL"
          autocomplete="email"
          [id]="ResetPasswordFormControls.EMAIL"
        />
        <app-form-validation-message [errorFormControl]="email"/>
      </div>
      <div class="auth-card__form__input-group">
        <p-password
          [toggleMask]="true"
          placeholder="{{ '_ResetPasswordPage.Password' | transloco }}"
          promptLabel="{{ '_ResetPasswordPage.Choose a password' | transloco }}"
          weakLabel="{{ '_ResetPasswordPage.Too simple' | transloco }}"
          mediumLabel="{{ '_ResetPasswordPage.Average complexity' | transloco }}"
          strongLabel="{{ '_ResetPasswordPage.Complex password' | transloco }}"
          [strongRegex]="REGEX_CONFIG.strongPasswordRegex.toString().replaceAll('/','')"
          [formControlName]="ResetPasswordFormControls.PASSWORD"
          autocomplete="new-password"
          [inputId]="ResetPasswordFormControls.PASSWORD"
        />
        <app-form-validation-message [errorFormControl]="password"/>
      </div>
      <div class="auth-card__form__input-group">
        <p-password
          [toggleMask]="true"
          placeholder="{{ '_ResetPasswordPage.Confirm password' | transloco }}"
          promptLabel="{{ '_ResetPasswordPage.Choose a password' | transloco }}"
          weakLabel="{{ '_ResetPasswordPage.Too simple' | transloco }}"
          mediumLabel="{{ '_ResetPasswordPage.Average complexity' | transloco }}"
          strongLabel="{{ '_ResetPasswordPage.Complex password' | transloco }}"
          [strongRegex]="REGEX_CONFIG.strongPasswordRegex.toString().replaceAll('/','')"
          [formControlName]="ResetPasswordFormControls.PASSWORD_CONFIRMATION"
          autocomplete="new-password"
          [inputId]="ResetPasswordFormControls.PASSWORD_CONFIRMATION"
        />
        <app-form-validation-message [errorFormControl]="password_confirmation"/>
      </div>
      <div class="auth-card__button">
        <p-button
          type="submit"
          severity="primary"
          label="{{ '_ResetPasswordPage.Reset password' | transloco }}"
          styleClass="full-width"
        />
      </div>
    </form>
    <p class="auth-card__link" ngProjectAs="[link]">
      {{ '_ResetPasswordPage.Already have an account?' | transloco }}
      <a [routerLink]="[APP_ROUTES_CONFIG.Default, APP_ROUTES_CONFIG.Auth.Root, APP_ROUTES_CONFIG.Auth.Login]">{{
          '_ResetPasswordPage.Login' | transloco
        }}</a>
    </p>
  </app-auth-card>
</div>
