<div class="navigation__backdrop" [class.navigation__backdrop--shown]="isNavigationShown()"></div>
<div class="navigation" [class.navigation--shown]="isNavigationShown()">
  <div class="navigation__logo">
    <app-logo (onClick)="hideNavigation()"/>
  </div>
  <div class="navigation__sections navigation__sections--left">
    @for (section of leftNavigationSections(); track $index) {
      <ng-container [ngTemplateOutlet]="navigationSection" [ngTemplateOutletContext]="{items: section.items}"/>
    }
  </div>
  <div class="navigation__divider"></div>
  <div class="navigation__sections navigation__sections--right">
    @for (section of rightNavigationSections(); track $index) {
      <ng-container [ngTemplateOutlet]="navigationSection" [ngTemplateOutletContext]="{items: section.items}"/>
    }
    @if (loggedInNotAdminUser()) {
      <app-user-menu [user]="loggedInNotAdminUser()!" [config]="userMenuConfig()" [isNameShown]="true"/>
    }
  </div>
  <app-hamburger-menu [isOpened]="isNavigationShown()" (click)="toggleNavigation()" class="navigation__hamburger"/>
</div>

<ng-template #navigationSection let-items="items">
  @if (items?.length > 0) {
    <div class="navigation__section">
      @for (item of items; track $index) {
        @let label = item.label | transloco;
        @let severity = item.severity ?? 'primary';

        @if (item.type === 'link') {
          <a class="navigation__link" [ngClass]="'navigation__link--' + severity"
             (click)="onNavigationItemClick(item)">{{ label }}</a>
        } @else if (item.type === 'button') {
          <p-button [label]="label" (onClick)="onNavigationItemClick(item)" [severity]="severity"
                    styleClass="full-width"/>
        }
      }
    </div>
  }
</ng-template>
