@import '../../../assets/styles/breakpoints';

.auth-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;

    @include smaller-than(md) {
      flex-direction: column;
    }

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--primary-color);
      cursor: pointer;
      transition: var(--transition-duration-fast) var(--transition-timing-function) opacity;

      &:hover {
        opacity: 0.8;
      }

      @include smaller-than(md) {
        height: 3rem;
      }
    }

    &__actions {
      display: flex;
      gap: 1rem;
    }
  }

  &__content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
  }
}
