.character-translations-modal {
  width: clamp(30rem, calc(100vw - 20rem), 40rem);
  max-height: 40rem;
  overflow-y: auto;

  &__table {
    &__actions {
      display: flex;
      gap: 0.5rem;
    }
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

}

span.fi {
  margin-right: 0.5rem;
}
