<div class="game-layout">
  <div class="game-layout__content">
    <router-outlet/>
  </div>
  <div class="game-layout__actions">
    <app-speed-dial [items]="speedDialItems()"/>
  </div>
  @if (gameSessionPhase()) {
    <div class="game-layout__phase">
      <div class="game-layout__phase__icon">
        <ng-icon class="game-layout__phase__hourglass game-layout__phase__hourglass--high" name="tablerHourglassHigh"/>
        <ng-icon class="game-layout__phase__hourglass game-layout__phase__hourglass--medium" name="tablerHourglass"/>
        <ng-icon class="game-layout__phase__hourglass game-layout__phase__hourglass--low" name="tablerHourglassLow"/>
      </div>
      <div class="game-layout__phase__label">{{ '_GameSessionPhase.' + gameSessionPhase() | transloco }}</div>
    </div>
  }
</div>

<app-player-statistics-dialog [visible]="isPlayerStatisticsShown()" [player]="player()"
                              (onHide)="onPlayerStatisticsClose()"/>
