@import '../../../assets/styles/breakpoints';

.game-layout {
  &__actions {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

  &__phase {
    overflow: hidden;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    height: 3rem;
    max-width: 16rem;
    background-color: var(--color-primary);
    color: var(--surface-ground);
    border-radius: 100vw;
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: var(--game-phase-z-index);

    &__icon {
      font-size: 1.5rem;
      position: relative;
      width: 1rem;
    }

    &__hourglass {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;

      &--high {
        animation: game-layout__phase__hourglass 3s steps(1) infinite;
      }

      &--medium {
        animation: game-layout__phase__hourglass 3s steps(1) infinite;
        animation-delay: 1s;
      }

      &--low {
        animation: game-layout__phase__hourglass 3s steps(1) infinite;
        animation-delay: 2s;
      }
    }

    &__label {
      overflow: hidden;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__content {
    max-width: var(--max-width);
    margin: 0 auto;
  }
}

@keyframes game-layout__phase__hourglass {
  0% {
    opacity: 1;
  }

  33.33% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

