.game-session-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__form__actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
