@import '../../../assets/styles/breakpoints';

.landing-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content {
    padding: 2rem 4rem;
    flex: 1;
    overflow-y: auto;

    @include smaller-than(md) {
      padding: 4rem 4rem;
    }
  }
}
