.attribute-slider {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "first-attribute-label first-attribute-values"
    "empty-space slider"
    "second-attribute-label second-attribute-values";
  gap: 1rem 2rem;

  &--no-labels {
    grid-template-columns: 1fr;
    grid-template-areas:
      "first-attribute-values"
      "slider"
      "second-attribute-values";

    .attribute-slider {
      :is(&__attribute-label, &__empty-space) {
        display: none;
      }
    }
  }

  &__empty-space {
    grid-area: empty-space;
  }

  &__attribute-label:nth-of-type(1) {
    grid-area: first-attribute-label;
  }

  &__attribute-values:nth-of-type(1) {
    grid-area: first-attribute-values;
  }

  &__attribute-label:nth-of-type(2) {
    grid-area: second-attribute-label;
  }

  &__attribute-values:nth-of-type(2) {
    grid-area: second-attribute-values;
  }

  &__attribute-values {
    display: flex;
    justify-content: space-between;
    font-family: monospace, monospace;
  }

  &__attribute-value {
  }

  &__slider-wrapper {
    grid-area: slider;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
