.img-placeholder {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-50);
  color: var(--surface-400);
  font-size: 2rem;

  &--circle {
    border-radius: 50%;
  }
}
