.p-card--game-player {
  .p-card-title {
    margin: 0;
  }

  .p-card-body {
    gap: 0.5rem;
  }
}

.p-card--card-selector {
  height: 100%;

  .p-card-body {
    flex: 1;
  }

  .p-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.p-card--landing-page-feature {
  height: 100%;
}
