.p-dropdown--language-switcher {
  border-color: var(--surface-300);

  .p-dropdown-trigger {
    display: none;
  }

  :is(.p-dropdown-item, .p-dropdown-label) {
    padding: 0.25rem 0.5rem;
  }

  .p-dropdown-label {
    padding: 0.5rem;
    background-color: var(--surface-ground);
  }

  .p-dropdown-items {
    padding: 0.125rem;
  }
}
