.p-dialog {
  &-content {
    overflow: hidden;
    padding-right: 0;

    & > * {
      padding-right: 1.5rem;
    }
  }
}

.p-dialog--player-statistics-dialog,
.p-dialog--player-character-details-modal {
  background-color: var(--surface-ground);

  .p-dialog-header, .p-dialog-content {
    background-color: transparent;
  }

  .p-dialog-content {
    overflow-y: auto;
  }
}
