@import '../breakpoints';

.p-toast {
  --p-toast-mobile-padding: 1rem;

  max-width: 30rem;

  @include smaller-than(sm) {
    top: var(--p-toast-mobile-padding);
    right: var(--p-toast-mobile-padding);
    max-width: calc(100vw - var(--p-toast-mobile-padding) * 2);
  }
}
