<div class="game-sessions-page">
  <div class="game-sessions-page__content">
    <p-table
      class="flex-1"
      styleClass="full-height"
      [value]="gameSessions()"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [resetPageOnSort]="true"
      (onSort)="onSort($event)"
      [customSort]="true"
      [loading]="isLoading()"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">{{ '_GameSessionsPage.ID' | transloco }}
            <p-sortIcon field="id"/>
          </th>
          <th pSortableColumn="token">{{ '_GameSessionsPage.Token' | transloco }}
            <p-sortIcon field="token"/>
          </th>
          <th pSortableColumn="phase">{{ '_GameSessionsPage.Phase' | transloco }}
            <p-sortIcon field="phase"/>
          </th>
          <th>{{ '_GameSessionsPage.Players' | transloco }}</th>
          <th pSortableColumn="updated_at">{{ '_GameSessionsPage.Updated at' | transloco }}
            <p-sortIcon field="updated_at"/>
          </th>
          <th>{{ '_GameSessionsPage.Actions' | transloco }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gameSession>
        <tr>
          <td>{{ gameSession.id }}</td>
          <td>{{ gameSession.token }}</td>
          <td>{{ '_GameSessionPhase.' + gameSession.phase | transloco }}</td>
          <td>{{ gameSession.players ? gameSession.players.length : 0 }}</td>
          <td>
            <app-date-human-readable [date]="gameSession.updated_at"/>
          </td>
          <td>
            <div class="game-sessions-page__table__actions">
              <app-button-icon-only [pTooltip]="'_GameSessionsPage.Previous game phase' | transloco"
                                    icon="tablerArrowLeft" severity="secondary"
                                    (onClick)="onPreviousPhase(gameSession)"/>
              <app-button-icon-only [pTooltip]="'_GameSessionsPage.Reset game phase' | transloco" icon="tablerRefresh"
                                    severity="secondary"
                                    (onClick)="onResetPhase(gameSession)"/>
              <app-button-icon-only [pTooltip]="'_GameSessionsPage.Next game phase' | transloco" icon="tablerArrowRight"
                                    severity="secondary" (onClick)="onNextPhase(gameSession)"/>
              <app-button-icon-only [pTooltip]="'_GameSessionsPage.Players' | transloco" icon="tablerUsers"
                                    severity="secondary" (onClick)="onPlayersShow(gameSession)"/>
              <app-button-icon-only [pTooltip]="'_Actions.Delete' | transloco" icon="tablerTrash" severity="danger"
                                    (onClick)="onDelete(gameSession)"/>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [colSpan]="99">
            <app-no-content/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
