<div class="language-switcher">
  <p-dropdown
    styleClass="p-dropdown--language-switcher"
    [options]="APP_CONFIG.availableLanguages"
    [(ngModel)]="language"
    (onChange)="onChange($event)"
    appendTo="body"
  >
    <ng-template let-language pTemplate="item">
      @if (language === Language.ENGLISH) {
        <span class="fi fi-gb"></span>
      } @else {
        <span class="fi fi-{{ language }}"></span>
      }
    </ng-template>
    <ng-template let-language pTemplate="selectedItem">
      @if (language === Language.ENGLISH) {
        <span class="fi fi-gb"></span>
      } @else {
        <span class="fi fi-{{ language }}"></span>
      }
    </ng-template>
  </p-dropdown>
</div>
