<div class="cards-page">
  <div class="cards-page__header">
    <p-button severity="success" [label]="'_CardsPage.Add card' | transloco" (onClick)="showNewCardModal()" />
  </div>
  <div class="cards-page__content">
    <p-table
      [value]="cards()"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ '_CardsPage.ID' | transloco }}</th>
          <th>{{ '_CardsPage.Front image' | transloco }}</th>
          <th>{{ '_CardsPage.Name' | transloco }}</th>
          <th>{{ '_CardsPage.Type' | transloco }}</th>
          <th>{{ '_CardsPage.Subtype' | transloco }}</th>
          <th>{{ '_CardsPage.Actions' | transloco }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-card>
        <tr>
          <td>{{ card.id }}</td>
          <td><img [src]="card.front_image_path ?? CARDS_PAGE_CONFIG.placeholderImageUrl" [alt]="card.name" /></td>
          <td>{{ card.name }}</td>
          <td>{{ '_CardType.' + card.type | transloco }}</td>
          <td>{{ card.subtype ? ('_CardSubtype' + card.subtype | transloco) : '-' }}</td>
          <td>
            <div class="cards-page__table__actions">
              <app-button-icon-only icon="tablerEdit" severity="secondary" (onClick)="onEdit(card)" />
              <app-button-icon-only icon="tablerTrash" severity="danger" (onClick)="onDelete(card)" />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<app-new-card-modal />
